<launch>
     <arg
          name = "paused"
          value = "true"
     />
     <arg
          name = "use_sim_time"
          value = "true"
     />
     <arg
          name = "gui"
          default = "false"
     />
     <arg
          name = "headless"
          value = "true"
     />
     <arg
          name = "debug"
          value = "false"
     />
     <arg
          name = "world_name"
          value = "$(find gazros_test)/worlds/testlaunch.world"
     />

     <rosparam command="load"
          file="$(find gazros_test)/config/diffdrive.yaml"
     />

     <node
          name="controller_node"
          pkg="controller_manager"
          type="spawner"
          args="test_drive_controller"
     />

     <param
          name = "robot_description"
          textfile = "$(find gazros_test)/models/diff_drive_model/diff_drive_model.urdf"
     />

     <node
          name = "timid_robot"
          pkg = "gazros_test"
          type = "timid_robot"
          output = "screen"
     />

     <node
          name="joint_state_publisher"
          pkg="joint_state_publisher"
          type="joint_state_publisher"
     />

     <!-- <node
          name="robot_state_publisher"
          pkg="robot_state_publisher"
          type="robot_state_publisher">
          <remap
               from="/robot_description"
               to="different_joint_states"
          />
          <remap
               from="joint_states"
               to="different_joint_states"
          />
     </node> -->

     <node
          name = "gazebo"
          pkg = "gazebo_ros"
          type = "gazebo"
          args = "$(arg world_name)"
          respawn = "false"
     />
     <node
          name = "spawn_urdf"
          pkg = "gazebo_ros"
          type = "spawn_model"
          args = "-param robot_description -urdf -z 1 -model diff_drive_model"
     />
</launch>
