<?xml version="1.0"?>

<model>
  <name>Differential Drive Model</name>
  <version>1.0</version>
  <sdf version="1.5">diff_drive_model.urdf</sdf>

  <author>
    <name>Rice</name>
    <email>rice.rodriguez@ttu.edu</email>
  </author>

  <description>
    A model of the prototype differential drive robot for research.
  </description>

</model>
